@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

@import "tailwindcss";

@plugin "daisyui";


.font-kaushan {
  font-family: 'Kaushan Script', cursive;
}
.font-macondo {
  font-family: 'Macondo Swash Caps', cursive
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #357ac9;
}
body{
  background: linear-gradient(
  135deg,
  #FFFFFF 0%,
  #F6B1CE 30%,
  #CCE5CF 70%,
  #FFFFFF 100%
);

}